
:root{
    /** FARBEN RANDOM für MITGLIEDER BUBBLES */
    --color-orange: rgb(255,122,0);
    --color-pink:rgb(255,94,179);
    --color-lila: rgb(110,82,255);
    --color-violett: rgb(147,39,255);
    --color-cyan:rgb(0,190,232);
    --color-dark-cyan:rgb(0, 130, 236,1);
    --color-aquamarin:rgb(31,215,193);
    --color-redorange:rgb(255,116,94);
    --color-brightorange:rgb(255,163,94);
    --color-fuchsia:rgb(252,113,255);
    --color-blue:rgb(0,56,255);
    --color-yelloworange:rgb(255,199,1);
  
     /** FARBEN ZU HELL ODER NUR für STYLE-ELEMENTE) */
    --color-sunnyyellow:rgb(255,230,43);
    --color-red:rgb(255,70,70);
    --color-urgentred:rgb(255,60,0);
    --color-greyish-icon:rgb(168,168,168);
    --color-lightgrey:rgb(246,247,248);
    --color-grey:rgb(209,209,209);
    --color-lightlila:rgba(226,230,236,0.4);
    --color-yellowgreen:rgb(195,255,43);
    --color-lowgreen:rgb(121,227,41);
    --color-darker-bg:rgb(9,25,49);
    --color-dark-bg:rgb(42,54,71);
    --color-darkblue: rgb(42, 61, 89);
    --color-white:rgb(255,255,255);
    --color-dark-grey: rgb(100, 100, 100);



    /** VARIABLEN für alle ITEMS mit der selben FARBE */
    --use_border-button-bg-text:var(--color-dark-bg);
    --use_nav-hover:var(--color-darkblue);
    --use_border-button-bg-text-hover:var(--color-cyan);
    --use_border-button-bg-text-focus:var(--color-darker-bg);
    --use_border-text-light:var(--color-grey);
    --use_background:var(--color-lightgrey);
    --use_bg-text-white:var(--color-white);

    --use_border-wrong:var(--color-red);
    --use_urgent:var(--color-red);
    --use_medium:var(--color-yelloworange);
    --use_low:var(--color-yellowgreen);
    --use_bg-userstory:var(--color-blue);
    --use_bg-technicaltask:var(--color-aquamarin);


}

.class{
    background-color:var(--use_border-button-bg-text);
}
.class:hover{
    background-color:var(--use_border-button-bg-text-hover);
    color:var(--use_bg-text-white);

}