.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-d-col {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: start;
}

.jc-end {
    justify-content: end;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

.pr-8 {
    padding-right: 8px;
}

.pointer-event-none {
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-event-auto {
    pointer-events: auto;
}

.main-container-body {
    max-width: 1700px;
}

.board-main-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.board-headline {
    display: flex;
    max-width: 1208px;
    justify-content: space-between;
    align-items: center;
}

.board-headline-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .board-headline-text {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
} */

.board-headline-container-search-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.board-input-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    width: 314px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
}

.board-input-search-container:focus-within {
    border-color: #29ABE2;
}

.board-input-search {
    width: 17rem;
    color: #D1D1D1;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

textarea:focus,
input:focus {
    outline: none;
}

.board-input-search:focus {
    color: #000000;
}

.board-input-search-icon:hover {
    background: #EEEEEE;
    border-radius: 45px;
    cursor: pointer;
}

.board-input-search-icon:active path {
    fill: #29ABE2;
}

.board-input-search-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.board-button-addTask-mobile {
    display: none;
}

.board-button-addTask {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}

.board-button-addTask-mobile:hover,
.board-button-addTask:hover {
    background: #29ABE2;
    border-color: #29ABE2;
    cursor: pointer;
}

.board-text-addTask {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-task-main {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: start;
    gap: 24px;
}

.board-task-category {
    padding-top: 16px;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.board-task-headline {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
    padding: 8px 24px;
    border-radius: 10px;
    z-index: 10;
    height: 28px;
}

.board-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    padding-bottom: 24px;
}

.overlay {
    /* display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); Hintergrund halbtransparent machen */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ein semi-transparenter Hintergrund, um den Rest der Seite zu verdunkeln */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Stelle sicher, dass das Popup 端ber anderen Inhalten liegt */
}

/* .view-task {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(65, 65, 65);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
} */



.add-task-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* sicherstellen, dass das Overlay 端ber anderen Inhalten liegt */
}

.board-add-task-headline {
    color: var(--menu-color, #42526E);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-add-task-category {
    width: 24px;
    height: 24px;
    padding: 3px;
    color: #2A3647;
    border-radius: 8px;
    border: 2px solid #2A3647;
}

.board-add-task-category:hover,
.board-add-task-category:hover path {
    stroke: #29ABE2;
    border: 2px solid var(--Ligth-blue, #29ABE2);
    transition: ease-out;
    transition-duration: 0.3s;
    cursor: pointer;
}

.board-add-task-add-icon {
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.board-no-task-feedback {
    display: flex;
    height: 48px;
    width: 248px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.board-no-task-feedback-text {
    color: var(--icon, #A8A8A8);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

span.board-task-card-preview,
p.board-task-card-preview {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.board-task-card-preview {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 248px;
    padding: 16px;
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.board-task-card-preview:active {
    cursor: pointer;
    transform: rotate(5deg);
    transition: ease-in-out;
    transition-duration: 0.2s;
    cursor: no-drop;
}

.board-task-card-taskcategory {
    width: fit-content;
    padding: 4px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    color: #FFF;
}

.board-userstory-color {
    background: #0038FF;
}

.board-technicaltask-color {
    background: #1FD7C1;
}

.board-task-card-headline {
    margin-bottom: 8px;
    color: var(--Version-2-main-color, #2A3647);
    font-weight: 700;
}

.board-task-card-description {

    color: var(--icon, #A8A8A8);
    margin-bottom: 24px;
}

.board-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.board-task-card-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px 2px 0px;
    width: 220px;
    height: 16px;
    margin-bottom: 24px;
}

.board-task-card-progressbar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background: #F4F4F4;
}

.board-task-card-progress {
    width: 128px;
    height: 8px;
    border-radius: 16px;
    background: var(--Version-2-main-color, #4589FF);
}

.board-task-card-progress-text {
    color: #000;
    font-size: 12px;
}

.board-task-card-profile-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-task-card-profile-container {
    display: flex;
    align-items: center;
    max-width: 199px;
}

.board-task-card-profile:nth-child(2) {
    left: -8px;
}

.board-task-card-profile:nth-child(3) {
    left: -16px;
}

.board-task-card-profile:nth-child(4) {
    left: -24px;
}

.board-task-card-profile:nth-child(5) {
    left: -32px;
}

.board-task-card-profile:nth-child(6) {
    left: -40px;
}

.board-task-card-profile:nth-child(7) {
    left: -48px;
}

.board-task-card-profile {
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 45px;
    background: #FFF;
}

.board-task-card-profile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #FFF;
}

.board-task-card-priority {
    padding-right: 7.5px;
}

.board-drop-category-background {
    background-color: #d6d6d6;
    border-radius: 24px;
    opacity: 0.4;
}

.drag-area {
    height: 200px;
    border-radius: 20px;
    margin-bottom: 50px;
    gap: 16px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border:2px solid var(--use_background);
}

.drag-area-highlight {
    background-color: rgba(100, 100, 100, 0.1);
    border:2px dotted var(--use_border-text-light);
    box-sizing:border-box;
}

/**
Here are designed all Task and Todo-Cards
*/
.task {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    background-color: white;
    width: 250px;
    min-height: 100px;
    box-shadow: 0 0 10px 2px var(--color-grey);
    border-radius: 24px;
    padding: 16px;

}

.task:hover {
    cursor: grab;

}

.task:active {
    animation-name: shakeTask;
    animation-iteration-count: 6;
    animation-duration: 200ms;
    cursor: grabbing;
    opacity: 0.5;

}

@keyframes shakeTask {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(2deg);
        transition: transform 80ms;
    }

    60% {
        transform: rotate(1deg);
        transition: transform 80ms;
    }

    100% {
        transform: rotate(0deg);
        transition: transform 40ms;

    }
}

.task-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-type {
    border-radius: 8px;
    padding: 4px 16px;
    width: fit-content;
    color: var(--use_bg-text-white);
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.bg-userstory {
    background-color: var(--use_bg-userstory);
}

.bg-technicaltask {
    background-color: var(--use_bg-technicaltask)
}

.emptylane {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-greyish-icon);
    background-color: rgba(230, 240, 240, 0.6);
    width: 282px;
    height: 30px;
    box-sizing: border-box;
    border: 2px dotted var(--color-greyish-icon);
    border-radius: 16px;
    padding: 16px;
}

.prioSVG {
    width: 32px;
}

.add-task-popup {
    position: fixed;
    background-color: white;
    padding: 20px;
    padding-left: 39px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.add-task-prio-high-popup,
.add-task-prio-medium-popup,
.add-task-prio-low-popup {
    width: 136px;
    height: 30px;
    border-radius: 10px;
    padding: 12px 2px 7px;
    border: 0px;
    /* background-color: var(--use_bg-text-white); */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
}

.add-task-clear-button-popup {
    /* height: 56px; */
    width: 110px;
    border-radius: 10px;
    padding: 16px 11px;
    color: var(--color-dark-bg);
    font-size: 21px;
    border: 1px solid var(--color-dark-bg);
    transition: background-color 0.3s ease;
    background-image: url('../assets/svg/close.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    align-items: baseline;
}

.add-task-clear-button-popup:hover {
    background-color: var(--use_bg-text-white);
    border: 1px solid var(--color-cyan);
    color: var(--color-dark-cyan);
    cursor: pointer;
    background-image: url('../assets/svg/close-1.svg');
    background-position: right 2px center;
}

.board-task-detail-card {
    width: 525px;
}

.task-popup-type-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.close-button {
    background: none;
    border: none;
}

.close-button:hover {
    cursor: pointer;
}

/* Stile f端r die Subtask-Liste und die einzelnen Subtask-Elemente */
.subtasks-list {
    margin-bottom: 20px;
}

.subtask-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
    margin-left: 12px;
}


/* Stile f端r die neue Subtask-Checkbox */
#new-subtask {
    margin-left: 12px;
}

.duedate {
    gap: 10px;
}

.priority {
    gap: 26px;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}