#section-contacts {
  overflow-x: hidden;
}

.sidepanel {
  display: flex;
  overflow: hidden;
  scrollbar-width: 0;
  justify-content: center;
  /* border: 1px solid yellowgreen; */
  width: 450px;
  height: 100vh;
  position: fixed;
  top: 90px;
  left: 232px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  background-color: var(--use_bg-text-white);
}

.letter {
  padding: 10px 35px;
}
.email {
  color: var(--color-dark-cyan);
}
#addContact {
  height: 3rem;
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  cursor:pointer;
  gap: 10px;
  background-color: var(--use_border-button-bg-text);
  color: var(--use_bg-text-white);
  margin: 1rem 0;
  left: 3.5rem;
  right: 3.5rem;
}
#addContact:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: var(--use_border-button-bg-text-hover);
}

/** Eventlistener is added to the Class
*/
.users {
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1.5;
  padding: 15px 25px;
  gap: 24px;
}
.users:hover {
  cursor: pointer;
  background-image: linear-gradient(
    rgba(200, 200, 200, 0.1),
    rgba(100, 100, 100, 0.2)
  );
}
.active {
  background-color: var(--use_border-button-bg-text);
  color: var(--use_bg-text-white);
}

hr {
  border: 1px solid var(--use_border-text-light);
  margin: 5px 0;
}
.user-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--use_bg-text-white);
  /*background-color: var(--user-specific-color);*/
  color: var(--use_bg-text-white);

  border-radius: 50%;
}
.size40px {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}
.size56px {
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
}

.size120px {
  height: 120px;
  aspect-ratio: 1;
  margin-right: 60px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.height16px {
  height: 16px;
  gap: 10px;
}
.height16px:hover {
  color: var(--use_border-button-bg-text-hover);
  cursor: pointer;
  .svg-color {
    fill: var(--use_border-button-bg-text-hover);
  }
}

.svg-color {
  fill: #2a3647;
}

.width50vh {
  width: 50%;
}

.contact-container {
  margin: 6rem 1.2rem;
  justify-content: space-between;
  height: 400px;
  position: relative;
}
.aniContact {
  animation: slideIn 300ms ease-out;
}

.aniEditForm {
  animation: slideInForm 200ms ease-in-out;
}
.aniOutForm {
  animation: slideOutForm 200ms ease-in-out;
}

.fadeInBG {
  animation: fadeIn 125ms;
}

.fadeOutBG{
  animation: fadeIn 125ms reverse;
}



.clickableBackground {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.transparentLayer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 110;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.editForm {
  margin: auto;
  position: relative;
  height: 540px;
  width: 1200px;
  border-radius: 30px;
  z-index: 5;
  border:1px solid rgba(240, 240, 240, 0.25);
  
}
.firstDIV{
    display:flex;
    position:relative;
    height:100%;
    background-color:var(--use_bg-text-white);
    border-radius:30px;

}

#leftSide{
    display:flex;
    align-items:start;
    flex-direction:column;
    justify-content:center;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding:50px;
    height:100%;
    gap:16px;
    background-color:var(--use_border-button-bg-text);
    box-sizing:border-box;
}

hr.short-cyan{
    border:2px solid var(--color-cyan);
    width:86px;
}
img.marginBottom30px{
    margin-bottom:30px;
}

h2.white{
    color: var(--use_bg-text-white);
}
#rightSide{
    display: flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;
    padding:50px;
}
.rightSideContent{
    display: flex;
   /* align-items: center;*/
}
.contactForm{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:start;
}

.closeEdit{
    width:100%;
    display:flex;
    justify-content:right;
    margin-bottom:50px;

}

.margin-unset{
  margin:unset;
}

.size-unset{
  width: unset;
  height: unset;
}


.closeIMG{
    padding:10px;
    border:1px solid white;
    border-radius:50%;
    cursor:pointer;

}
.closeIMG:hover{
    background-color: var(--use_border-text-light);
}

.submit-container{
    margin: 40px 0 0 0;
}
#saveBTN[disabled],#saveBTN:disabled{
  opacity: 0.6;
  cursor:unset;
  transform:none;
  box-shadow:none;
  color: var(--use_bg-text-white);
  border: 1px solid var(--use_border-text-light);
  background-color: var(--color-grey);
}


.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.lineheight1{
  line-height:1;
}

.gap16{
    gap:16px;
}

#allContacts {
  margin-top: 100px;
  padding: 0 45px 20px 45px;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 100px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInForm {
    from {
      transform: translateX(100%);
      /* right:-100%; */
    }
    to {
      transform: translateX(0);
      /* right:0; */
    }
  }

  
@keyframes slideOutForm {
  from {
    transform: translateX(0);
    
  }
  to {
    transform: translateX(100%);
   
     
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
