<link rel="stylesheet" href="/css/all_colors.css" />
<link rel="stylesheet" href="/css/style.css" />
</div>
  <div class="edit-task">
    <div class="label-wrapper">
      <div class="label-position">
        <img src="/assets/svg/logo_light.svg" alt="logo" class="logo-small" />
        <p class="headline-dark">Edit contact</p>
        <hr class="underline-dark" />
      </div>
      <div class="edit-task-wrapper">
        <div class="input-wrapper">
          <input
            class="input-field"
            type="name"
            name="password"
            placeholder="Name"
            required
          />
        </div>
          <img src="/assets/svg/person.svg" alt="lock icon" class="icon" />
          <div class="input-wrapper">
            <input
              class="input-field"
              type="name"
              name="password"
              placeholder="Name"
              required
            />
          </div>  
            <img src="/assets/svg/person.svg" alt="lock icon" class="icon" />
            <div class="input-wrapper">
              <input
                class="input-field"
                type="name"
                name="password"
                placeholder="Name"
                required
              />
              <img src="/assets/svg/person.svg" alt="lock icon" class="icon" />
      <!-- Your input fields and other elements here -->
    </div>
  </div>

</div>

</div>