<header>
    <h4>Kanban Project Management Tool</h4>
    <div id="headerIcons" class="help-user">
        <span id="navhelp" onclick="loadHelp('navhelp')"><img id="helpIcon" class="help-icon" src="../assets/svg/help.svg" alt="Help Icon"></span>
        <span id="userIcon" class="header-initials" onclick="logoutMenuSlider()"></span>
    </div>
    <div id="logoutMenu" class="logoutMenu">
        <div class="nav-logout" onclick="loadLegal('navlegal')">Legal Notice</div>
        <div class="nav-logout" onclick="loadPrivacy('navprivacy')">Privacy Policy</div>
        <div class="nav-logout paddingBottomUnset" onclick="userLogout()">Log out</div>
    </div>
<script>renderUserIcon()</script>
</header>