<div class="start-overlay">
    <div class="login-container">
        <p class="headline">Log in</p>
        <div class="input-container">
            <form action="index.php" method="post">
                <input type="text" name="username" placeholder="Username" required />
                <input type="password" name="password" placeholder="Password" required />
                <div class="checkbox-container">
                    <input type="checkbox" name="remember" id="remember" />
                    <label for="remember">Remember me</label>
                </div>
                <div class="submit-container" id="submit">
                    <input type="submit" value="Log in" />
                    <input type="submit" value="Guest login" />
                </div>
            </form>
        </div>
    </div>
</div>
