

<div class="nav-desktop">
    <img class="nav-logo" src="../assets/svg/join-icon.svg">
    <div class="nav-menu">
      <div id="nav-summary" class="a-nav" onclick="LinkBehaviorAfterClick('nav-summary')">
        <img class="p-right" src="../assets/svg/summary.svg">
        Summary
      </div>
      <div id="nav-addtask" class="a-nav" onclick="loadAddTask('nav-addtask')">
        <img class="p-right" src="../assets/svg/edit_square.svg">
        Add Task
      </div>
      <div id="nav-board" class="a-nav" href="board.html">
        <img class="p-right" src="../assets/svg/canban-1.svg">
        Board
      </div>
      <div id="nav-contacts" class="a-nav" href="contact.html">
        <img class="p-right" src="../assets/svg/perm_contact_calendar.svg">
        Contacts
      </div>
    </div>
    <div class="legal-notice">
      <a id="nav-privacy" class="legal-notice-link" href="privacy_policy.html">Privacy Policy</a>
      <a id="nav-legal" class="legal-notice-link" href="legal_notice.html">Legal Notice</a>
    </div>
  </div>
